<div class="row">
  <div class="col-2">
    <mat-form-field>
      <mat-select
        placeholder="Bloco para inserir"
        [(ngModel)]="insert"
      >
        <mat-option
          *ngFor="let conteudo of conteudos"
          [value]="conteudo"
        >
          {{conteudo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-2">
    <mat-form-field>
        <input
          matInput
          placeholder="Linhas"
          type="number"
          [(ngModel)]="xLength"
          (ngModelChange)="updateGrid()"
        />
    </mat-form-field>
  </div>
  <div class="col-2">
    <mat-form-field>
        <input
          matInput
          placeholder="Colunas"
          type="number"
          [(ngModel)]="yLength"
          (ngModelChange)="updateGrid()"
        />
    </mat-form-field>
  </div>
</div>

<div class="row">
    <button
      type="button"
      class="btn btn-link"
      (click)="agente.girarHorario()"
    >
      Girar horário
    </button>
    <button
      type="button"
      class="btn btn-link"
      (click)="agente.girarAntiHorario()"
    >
      Girar anti-horário
    </button>
    <button
      type="button"
      class="btn btn-link"
      (click)="andar()"
    >
      Andar
    </button>
    <button
      type="button"
      class="btn btn-link"
      (click)="dijkstra()"
    >
      Dijkstra
    </button>
    <button
      type="button"
      class="btn btn-link"
      (click)="astar()"
    >
      A*
    </button>
    <button
      type="button"
      class="btn btn-link"
      (click)="genetico()"
    >
      Genético
    </button>
</div>

<div
  *ngFor="let yVec of grid.grid; let i = index"
>
  <div class="row grid">
    <div
      *ngFor="let x of yVec; let j = index"
      class="grid-part p-0"
      (click)="toggle(j, i)"
    >
      <img
        [src]="getImg(x, j, i)"
        height=50px
        width=50px
        [class]="getClassImg(x, j, i)"
      />
    </div>
  </div>
</div>