
<div class="container">
  
  <div class="row header">
    <div class="col-6 h-100">
      <div class="row h-100">
        <div class="col-4 h-100">
            <button
              routerLink="busca-no-grid"
              routerLinkActive="Active"
              class="btn btn-link header-link"
            >
              Busca no Grid
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="col-12 font-align-right"><h2 class="text-right">Sistemas inteligentes 2019-01</h2></div>
      <div class="col-12 small font-weight-bold text-right">Amir Leonardo Kessler Annahas &middot; Mateus Capelesso</div>
    </div>
  </div>
  <hr/>
  <div class="pl-5">
    <router-outlet></router-outlet>
  </div>
  
</div>
