.container {
    background-color: #FFF;
}
.header {
    padding-top: 10px;
    height: 70px;
}
.header-link {
    bottom: 0;
    position: absolute;
}
::ng-deep .mat-form-field-infix{
    width:100px !important;
}